<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Let's chat</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> -->

      {% extends 'base.html' %}
      {% block title %} Home{% endblock title %} 
      {% block body %}
      
          <h1>We care for you !!! </h1>
          <h4>Hello !! I am Assist. Emo !!</h4>
      <br>
          <div class="container">
              
      
      
            {% if alltexts|length==0 %}
                How is your mood these days?
            {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <!-- <th scope="col">SNo</th> -->
                      <th scope="col">How is your mood these days?</th>
                      <th scope="col"> </th>
                      <!-- <th scope="col">Time</th> -->
                    </tr>
                  </thead>
                  
                  <tbody>
                      {% for text in alltexts %}
                    <tr>
                          <!-- <th scope="row">{{loop.index}}</th> -->
                      <!-- <td>{{text.name}}</td> -->
                      <td>{{text.name}}</td>
                      <td>{{text.message}}</td>
                      <!-- <td>{{text.date_created}}</td> -->
                      <!-- <td>
                         <a href="/update/{{text.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button>
      
                      </td> -->
                    </tr>
                    
        
        {% endfor %}

      </tbody>
      </table>
      {% endif%}
      <form action="/" method="POST">
        <!-- <div class="mb-3">
          <label for="name" class="form-label">Enter your Name</label>
          <input type="text" class="form-control" name="name" id="name" >
        </div> -->
        <div class="mb-3">
          
          <input type="text" class="form-control" name="message" id="message", placeholder="Typr your message">
        </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
        

      <a href="/delete" type="button" class="btn btn-outline-dark btn-sm mx-1">Return to Start</button>

          </div>
          {% endblock body %}
        <!-- </body>
      </html> -->
      